Labs/Lab02/flow.txt
[{"id":"45aa152f.46733c","type":"tab","label":"Sensors Data Flow","disabled":false,"info":""},{"id":"6a456e06.18091","type":"inject","z":"45aa152f.46733c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":160,"wires":[["2d4aaaf1.ca83a6"]]},{"id":"2d4aaaf1.ca83a6","type":"function","z":"45aa152f.46733c","name":"read state","func":"msg.topic = \"03366e80cf3a11e19ab40002a5d5c51b\"\nreturn msg;\n\n","outputs":1,"noerr":0,"x":480,"y":160,"wires":[["5b28ac38.f36dd4","6e968b2d.88b0f4"]]},{"id":"5b28ac38.f36dd4","type":"mqtt out","z":"45aa152f.46733c","name":"","topic":"temp/topic","qos":"","retain":"","broker":"69a32d95.96c124","x":690,"y":160,"wires":[]},{"id":"4651dde7.4772e4","type":"inject","z":"45aa152f.46733c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":280,"wires":[["8e6f3baf.85f448"]]},{"id":"8e6f3baf.85f448","type":"function","z":"45aa152f.46733c","name":"read state","func":"msg.topic = \"05366e80cf3a11e19ab40002a5d5c51b\"\nreturn msg;\n\n","outputs":1,"noerr":0,"x":480,"y":280,"wires":[["30c4ebf2.c40e14","7eec3611.b17438"]]},{"id":"30c4ebf2.c40e14","type":"mqtt out","z":"45aa152f.46733c","name":"","topic":"hum/topic","qos":"","retain":"","broker":"69a32d95.96c124","x":680,"y":280,"wires":[]},{"id":"6e968b2d.88b0f4","type":"Generic BLE out","z":"45aa152f.46733c","name":"","genericBle":"b2a6ffb9.de82d","x":690,"y":100,"wires":[]},{"id":"7eec3611.b17438","type":"Generic BLE out","z":"45aa152f.46733c","name":"","genericBle":"b2a6ffb9.de82d","x":710,"y":360,"wires":[]},{"id":"746a929b.40ec4c","type":"inject","z":"45aa152f.46733c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":500,"wires":[["fe3e1d46.d221"]]},{"id":"fe3e1d46.d221","type":"function","z":"45aa152f.46733c","name":"read state","func":"msg.topic = \"07366e80cf3a11e19ab40002a5d5c51b\"\nreturn msg;\n\n","outputs":1,"noerr":0,"x":480,"y":500,"wires":[["7b763fe2.ca741","e537bac1.1a7df8"]]},{"id":"7b763fe2.ca741","type":"mqtt out","z":"45aa152f.46733c","name":"","topic":"acc/topic","qos":"","retain":"","broker":"69a32d95.96c124","x":680,"y":500,"wires":[]},{"id":"e537bac1.1a7df8","type":"Generic BLE out","z":"45aa152f.46733c","name":"","genericBle":"b2a6ffb9.de82d","x":710,"y":580,"wires":[]},{"id":"69a32d95.96c124","type":"mqtt-broker","z":"","name":"Pc-Alex","broker":"10.69.3.64","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b2a6ffb9.de82d","type":"Generic BLE","z":"","localName":"BlueNRG","address":"02:80:e1:00:34:13","uuid":"0280e1003413","muteNotifyEvents":false,"operationTimeout":"","characteristics":[{"uuid":"2a05","name":"Service Changed","type":"org.bluetooth.characteristic.gatt.service_changed","notifiable":false,"readable":false,"writable":false,"writeWithoutResponse":false},{"uuid":"2a00","name":"Device Name","type":"org.bluetooth.characteristic.gap.device_name","notifiable":false,"readable":true,"writable":true,"writeWithoutResponse":true},{"uuid":"2a01","name":"Appearance","type":"org.bluetooth.characteristic.gap.appearance","notifiable":false,"readable":true,"writable":true,"writeWithoutResponse":true},{"uuid":"2a04","name":"Peripheral Preferred Connection Parameters","type":"org.bluetooth.characteristic.gap.peripheral_preferred_connection_parameters","notifiable":false,"readable":true,"writable":true,"writeWithoutResponse":false},{"uuid":"03366e80cf3a11e19ab40002a5d5c51b","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"05366e80cf3a11e19ab40002a5d5c51b","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"07366e80cf3a11e19ab40002a5d5c51b","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"0c366e80cf3a11e19ab40002a5d5c51b","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":true,"writable":true,"writeWithoutResponse":true}]}]