Projet/FlowsServer/flow Server.txt
[{"id":"c4336911.f0ff58","type":"mqtt out","z":"dd1bdb33.abc78","name":"","topic":"/test","qos":"","retain":"","broker":"14625510.7f45f3","x":610,"y":420,"wires":[]},{"id":"24346764.6e61d","type":"inject","z":"dd1bdb33.abc78","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":420,"wires":[["7cae8fb4.16c0f8"]]},{"id":"7cae8fb4.16c0f8","type":"function","z":"dd1bdb33.abc78","name":"msg","func":"msg.payload = \"Alex alumme le machain\";\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":420,"wires":[["c4336911.f0ff58"]]},{"id":"14625510.7f45f3","type":"mqtt-broker","z":"","name":"PC-saber","broker":"192.168.59.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]