Projet/FlowsServer/flow7.json.txt
[{"id":"4a9da43e.98e21c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ca745abd.308828","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"174cb398.121fec","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"c7ea96b5.b12c68","type":"mqtt-broker","z":"","name":"VM Saber","broker":"10.69.1.161","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2037c1e1.d95f4e","type":"mqtt-broker","z":"","name":"CloudRaspberry","broker":"10.69.1.150","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"511c36d6.8ce788","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9eceb474.310bf8","type":"ui_group","z":"","name":"grouuupe","tab":null,"order":1,"disp":true,"width":"6","collapse":false},{"id":"f006091c.b0b448","type":"ui_spacer","name":"spacer","group":"9eceb474.310bf8","order":1,"width":1,"height":1},{"id":"221f52a.b8f6bae","type":"ui_tab","z":"","name":"Ecran principal","icon":"home","order":1,"disabled":false,"hidden":false},{"id":"a916c9e6.a0e3f8","type":"ui_group","z":"","name":"Eléments d'entrées","tab":"221f52a.b8f6bae","order":1,"disp":true,"width":"6","collapse":false},{"id":"2eaf13d8.2a156c","type":"ui_group","z":"","name":"Formulaire","tab":"221f52a.b8f6bae","order":2,"disp":true,"width":"6","collapse":false},{"id":"81def57d.273c58","type":"ui_group","z":"","name":"Journal d'événement du Dashboard","tab":"221f52a.b8f6bae","order":3,"disp":true,"width":"6","collapse":false},{"id":"139e9ce8.3937c3","type":"mqtt-broker","z":"","name":"AlphaBot","broker":"10.69.3.239","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b38d7f11.68199","type":"websocket-listener","z":"","path":"/sensorLeft","wholemsg":"false"},{"id":"ce301a79.ade218","type":"http in","z":"4a9da43e.98e21c","name":"","url":"/st","method":"get","upload":false,"swaggerDoc":"","x":310,"y":274,"wires":[["92fbf460.e3da48"]]},{"id":"92fbf460.e3da48","type":"mqtt out","z":"4a9da43e.98e21c","name":"","topic":"/stop","qos":"","retain":"","broker":"2037c1e1.d95f4e","x":710,"y":274,"wires":[]},{"id":"44444e08.95b56","type":"http in","z":"4a9da43e.98e21c","name":"","url":"/right","method":"get","upload":false,"swaggerDoc":"","x":320,"y":60,"wires":[["d69c0b3a.b2f3a8"]]},{"id":"d69c0b3a.b2f3a8","type":"mqtt out","z":"4a9da43e.98e21c","name":"","topic":"/right","qos":"","retain":"","broker":"2037c1e1.d95f4e","x":690,"y":60,"wires":[]},{"id":"dea6f3f.56dc41","type":"http in","z":"4a9da43e.98e21c","name":"","url":"/left","method":"get","upload":false,"swaggerDoc":"","x":320,"y":194,"wires":[["243d8fff.72cef"]]},{"id":"243d8fff.72cef","type":"mqtt out","z":"4a9da43e.98e21c","name":"","topic":"/left","qos":"","retain":"","broker":"2037c1e1.d95f4e","x":710,"y":194,"wires":[]},{"id":"de21bd3a.45fdd","type":"http in","z":"4a9da43e.98e21c","name":"","url":"/back","method":"get","upload":false,"swaggerDoc":"","x":320,"y":320,"wires":[["6c0afde1.b60c54"]]},{"id":"6c0afde1.b60c54","type":"mqtt out","z":"4a9da43e.98e21c","name":"","topic":"/back","qos":"","retain":"","broker":"2037c1e1.d95f4e","x":710,"y":320,"wires":[]},{"id":"d8302a28.6c09a8","type":"http in","z":"4a9da43e.98e21c","name":"","url":"/av","method":"get","upload":false,"swaggerDoc":"","x":310,"y":240,"wires":[["313c8e59.a0e3c2"]]},{"id":"313c8e59.a0e3c2","type":"mqtt out","z":"4a9da43e.98e21c","name":"","topic":"/Avencer","qos":"","retain":"","broker":"2037c1e1.d95f4e","x":720,"y":240,"wires":[]},{"id":"a006dfc.85ccc2","type":"http in","z":"ca745abd.308828","name":"","url":"/st","method":"get","upload":false,"swaggerDoc":"","x":130,"y":480,"wires":[["6687f851.fcc068","21d99835.f21c28"]]},{"id":"6687f851.fcc068","type":"mqtt out","z":"ca745abd.308828","name":"","topic":"/stop","qos":"","retain":"","broker":"2037c1e1.d95f4e","x":570,"y":480,"wires":[]},{"id":"56682276.889adc","type":"http in","z":"ca745abd.308828","name":"","url":"/right","method":"get","upload":false,"swaggerDoc":"","x":180,"y":86,"wires":[["353df20c.6f229e","90b8781a.b472b8"]]},{"id":"353df20c.6f229e","type":"mqtt out","z":"ca745abd.308828","name":"","topic":"/right","qos":"","retain":"","broker":"2037c1e1.d95f4e","x":550,"y":86,"wires":[]},{"id":"7383d822.38f018","type":"http in","z":"ca745abd.308828","name":"","url":"/left","method":"get","upload":false,"swaggerDoc":"","x":180,"y":220,"wires":[["975d21a4.2ef47","ae194f88.fe8d"]]},{"id":"975d21a4.2ef47","type":"mqtt out","z":"ca745abd.308828","name":"","topic":"/left","qos":"","retain":"","broker":"2037c1e1.d95f4e","x":570,"y":220,"wires":[]},{"id":"9cae0cf1.44606","type":"http in","z":"ca745abd.308828","name":"","url":"/back","method":"get","upload":false,"swaggerDoc":"","x":1060,"y":280,"wires":[["c83be587.c95e28","f83445.2fb74bb8"]]},{"id":"c83be587.c95e28","type":"mqtt out","z":"ca745abd.308828","name":"","topic":"/back","qos":"","retain":"","broker":"2037c1e1.d95f4e","x":1330,"y":300,"wires":[]},{"id":"61d6366b.261488","type":"http in","z":"ca745abd.308828","name":"","url":"/av","method":"get","upload":false,"swaggerDoc":"","x":1090,"y":160,"wires":[["d12f94a.f1e9968","837ed292.ed8b3"]]},{"id":"d12f94a.f1e9968","type":"mqtt out","z":"ca745abd.308828","name":"","topic":"/Avencer","qos":"","retain":"","broker":"2037c1e1.d95f4e","x":1320,"y":160,"wires":[]},{"id":"f83445.2fb74bb8","type":"ui_button","z":"ca745abd.308828","name":"","group":"a916c9e6.a0e3f8","order":0,"width":"1","height":"1","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"keyboard_arrow_down","payload":"","payloadType":"str","topic":"","x":1210,"y":360,"wires":[["c83be587.c95e28"]]},{"id":"849e557f.da8008","type":"websocket out","z":"4a9da43e.98e21c","name":"","server":"b38d7f11.68199","client":"","x":740,"y":440,"wires":[]},{"id":"bd53b72a.e33608","type":"mqtt in","z":"4a9da43e.98e21c","name":"","topic":"/sensorLeft","qos":"2","broker":"2037c1e1.d95f4e","x":310,"y":440,"wires":[["33795c72.8ac764"]]},{"id":"33795c72.8ac764","type":"json","z":"4a9da43e.98e21c","name":"","property":"payload","action":"","pretty":false,"x":530,"y":440,"wires":[["849e557f.da8008"]]},{"id":"837ed292.ed8b3","type":"ui_button","z":"ca745abd.308828","name":"","group":"a916c9e6.a0e3f8","order":1,"width":"1","height":"1","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"keyboard_arrow_up","payload":"","payloadType":"str","topic":"","x":1210,"y":220,"wires":[["d12f94a.f1e9968"]]},{"id":"ae194f88.fe8d","type":"ui_button","z":"ca745abd.308828","name":"","group":"a916c9e6.a0e3f8","order":2,"width":"1","height":"1","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"keyboard_arrow_left","payload":"","payloadType":"str","topic":"","x":380,"y":320,"wires":[["975d21a4.2ef47"]]},{"id":"90b8781a.b472b8","type":"ui_button","z":"ca745abd.308828","name":"","group":"a916c9e6.a0e3f8","order":3,"width":"1","height":"1","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"keyboard_arrow_right","payload":"","payloadType":"str","topic":"","x":400,"y":160,"wires":[["353df20c.6f229e"]]},{"id":"21d99835.f21c28","type":"ui_button","z":"ca745abd.308828","name":"","group":"a916c9e6.a0e3f8","order":4,"width":"1","height":"1","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"close","payload":"","payloadType":"str","topic":"","x":300,"y":620,"wires":[["6687f851.fcc068"]]}]