Projet/FlowsServer/flows_6.json
[{"id":"97b89016.57636","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a46817ea.e45e98","type":"tab","label":"Stop","disabled":false,"info":""},{"id":"4b354a01.c87094","type":"tab","label":"Avancer","disabled":false,"info":""},{"id":"6d25065.f18f0f8","type":"tab","label":"left","disabled":false,"info":""},{"id":"f2c36783.93ef28","type":"tab","label":"right","disabled":false,"info":""},{"id":"a3a3480b.9cd808","type":"tab","label":"Back","disabled":false,"info":""},{"id":"50eb5a61.915d44","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"df3fda7d.9b4718","type":"mqtt-broker","z":"","name":"VM Saber","broker":"10.69.1.161","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9f6fb450.4b5ad8","type":"mqtt-broker","z":"","name":"Serveur Raspberry","broker":"10.69.1.150","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bc38821b.b780d","type":"mqtt-broker","z":"","name":"","broker":"","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d1be28b4.ec3078","type":"mqtt-broker","z":"","name":"PC-Saber","broker":"10.69.1.161","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a213e123.58fb9","type":"mqtt-broker","z":"","name":"PC-saber","broker":"192.168.59.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d7377a51.4d9b58","type":"websocket-client","z":"","path":"/temp/topic","tls":"","wholemsg":"false"},{"id":"d9bc5559.582cb8","type":"mqtt-broker","z":"","name":"PC-SABER","broker":"192.168.59.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e9a761ce.6eec","type":"websocket-client","z":"","path":"/acc/topic","tls":"","wholemsg":"false"},{"id":"f2095584.32e8e8","type":"websocket-client","z":"","path":"/hum/topic","tls":"","wholemsg":"false"},{"id":"e7c3cbf8.f420e8","type":"websocket-client","z":"","path":"/ledStatus","tls":"","wholemsg":"false"},{"id":"3167f618.c9f4ba","type":"mqtt-broker","z":"","name":"MonRobo","broker":"http://10.69.3.239","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b90940d1.e8be7","type":"rpi-gpio out","z":"4b354a01.c87094","name":"IN1","pin":"33","set":false,"level":"1","freq":"","out":"out","x":590,"y":60,"wires":[]},{"id":"8c177b33.f7f688","type":"rpi-gpio out","z":"4b354a01.c87094","name":"IN2","pin":"32","set":false,"level":"0","freq":"","out":"out","x":630,"y":140,"wires":[]},{"id":"1144efd1.9fb4b","type":"rpi-gpio out","z":"4b354a01.c87094","name":"IN3","pin":"40","set":false,"level":"1","freq":"","out":"out","x":630,"y":200,"wires":[]},{"id":"82f81218.372da","type":"change","z":"4b354a01.c87094","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":180,"wires":[["f822e862.f5ee38","8c177b33.f7f688","31c144a5.a6574c"]]},{"id":"1deee833.0eb068","type":"rpi-gpio out","z":"a46817ea.e45e98","name":"","pin":"33","set":false,"level":"0","freq":"","out":"out","x":660,"y":80,"wires":[]},{"id":"5d4255ca.2cab4c","type":"rpi-gpio out","z":"a46817ea.e45e98","name":"","pin":"32","set":false,"level":"0","freq":"","out":"out","x":660,"y":140,"wires":[]},{"id":"9aac97c0.b43378","type":"change","z":"a46817ea.e45e98","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":334,"y":120,"wires":[["1deee833.0eb068","b7af673a.08a668","6afc77f.4267d88","2b1480d8.45265"]]},{"id":"87c0329a.5f752","type":"change","z":"a46817ea.e45e98","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":180,"wires":[["5d4255ca.2cab4c","b7af673a.08a668","48044722.140ca8","519f5a50.41c984"]]},{"id":"f822e862.f5ee38","type":"http response","z":"4b354a01.c87094","name":"","statusCode":"","headers":{},"x":890,"y":120,"wires":[]},{"id":"b7af673a.08a668","type":"http response","z":"a46817ea.e45e98","name":"","statusCode":"","headers":{},"x":850,"y":160,"wires":[]},{"id":"a04c82fc.f9e4","type":"mqtt in","z":"4b354a01.c87094","name":"","topic":"/Avencer","qos":"2","datatype":"auto","broker":"9f6fb450.4b5ad8","x":100,"y":200,"wires":[["82f81218.372da","87ec16a7.c01cc8"]]},{"id":"3a125c8.96e51a4","type":"inject","z":"4b354a01.c87094","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":80,"wires":[["82f81218.372da","87ec16a7.c01cc8"]]},{"id":"c80c7abc.88c528","type":"inject","z":"a46817ea.e45e98","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":80,"wires":[["9aac97c0.b43378","87c0329a.5f752"]]},{"id":"498d6830.bce1c8","type":"rpi-gpio out","z":"4b354a01.c87094","name":"","pin":"31","set":false,"level":"1","freq":"","out":"out","x":680,"y":340,"wires":[]},{"id":"f9bb545a.4ce1f8","type":"rpi-gpio out","z":"4b354a01.c87094","name":"","pin":"37","set":false,"level":"1","freq":"","out":"out","x":680,"y":380,"wires":[]},{"id":"600179a9.8a2838","type":"mqtt in","z":"a46817ea.e45e98","name":"","topic":"/stop","qos":"2","datatype":"auto","broker":"9f6fb450.4b5ad8","x":90,"y":260,"wires":[["9aac97c0.b43378","87c0329a.5f752"]]},{"id":"eeaf1897.72e788","type":"rpi-gpio out","z":"6d25065.f18f0f8","name":"IN1","pin":"33","set":false,"level":"1","freq":"","out":"out","x":810,"y":160,"wires":[]},{"id":"98524e54.39d7f","type":"rpi-gpio out","z":"6d25065.f18f0f8","name":"IN2","pin":"32","set":false,"level":"0","freq":"","out":"out","x":790,"y":240,"wires":[]},{"id":"1895953d.d39e7b","type":"rpi-gpio out","z":"6d25065.f18f0f8","name":"IN3","pin":"40","set":false,"level":"1","freq":"","out":"out","x":790,"y":300,"wires":[]},{"id":"3bf88a95.954dc6","type":"change","z":"6d25065.f18f0f8","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":280,"wires":[["eeaf1897.72e788","4f52cacd.81a654","7499b00a.e1bd5"]]},{"id":"ad1bc26.7976e4","type":"inject","z":"6d25065.f18f0f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":180,"wires":[["3bf88a95.954dc6","7e01a943.beed08"]]},{"id":"4f52cacd.81a654","type":"rpi-gpio out","z":"6d25065.f18f0f8","name":"IN4","pin":"38","set":false,"level":"0","freq":"","out":"out","x":790,"y":360,"wires":[]},{"id":"f2f49b6e.fcaa08","type":"rpi-gpio out","z":"6d25065.f18f0f8","name":"","pin":"31","set":false,"level":"0","freq":"","out":"out","x":840,"y":420,"wires":[]},{"id":"fd9ffc80.76479","type":"rpi-gpio out","z":"6d25065.f18f0f8","name":"","pin":"37","set":false,"level":"0","freq":"","out":"out","x":840,"y":480,"wires":[]},{"id":"b7222460.076df8","type":"rpi-gpio out","z":"f2c36783.93ef28","name":"IN1","pin":"33","set":false,"level":"1","freq":"","out":"out","x":870,"y":200,"wires":[]},{"id":"65f44164.fbfd8","type":"rpi-gpio out","z":"f2c36783.93ef28","name":"IN2","pin":"32","set":false,"level":"0","freq":"","out":"out","x":850,"y":280,"wires":[]},{"id":"ae6566f9.b86ff8","type":"rpi-gpio out","z":"f2c36783.93ef28","name":"IN3","pin":"40","set":false,"level":"1","freq":"","out":"out","x":850,"y":340,"wires":[]},{"id":"9dd58a88.7c7268","type":"change","z":"f2c36783.93ef28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":320,"wires":[["65f44164.fbfd8","ae6566f9.b86ff8","2a14d95c.83f056"]]},{"id":"7a6a5f91.ef4d8","type":"inject","z":"f2c36783.93ef28","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":220,"wires":[["9dd58a88.7c7268"]]},{"id":"d5dd4b1.6c8e2b8","type":"rpi-gpio out","z":"f2c36783.93ef28","name":"IN4","pin":"38","set":false,"level":"0","freq":"","out":"out","x":850,"y":400,"wires":[]},{"id":"aa6589ba.fa0c78","type":"rpi-gpio out","z":"f2c36783.93ef28","name":"","pin":"31","set":false,"level":"0","freq":"","out":"out","x":900,"y":460,"wires":[]},{"id":"69b49f9d.af6da","type":"rpi-gpio out","z":"f2c36783.93ef28","name":"","pin":"37","set":false,"level":"0","freq":"","out":"out","x":900,"y":520,"wires":[]},{"id":"dd827d67.9b0b1","type":"mqtt in","z":"6d25065.f18f0f8","name":"","topic":"/left","qos":"2","datatype":"auto","broker":"9f6fb450.4b5ad8","x":250,"y":300,"wires":[["3bf88a95.954dc6","7e01a943.beed08"]]},{"id":"3b285250.d7715e","type":"mqtt in","z":"f2c36783.93ef28","name":"","topic":"/right","qos":"2","datatype":"auto","broker":"9f6fb450.4b5ad8","x":310,"y":320,"wires":[["9dd58a88.7c7268","14e12f2d.3a8581"]]},{"id":"6e71323a.87efbc","type":"rpi-gpio out","z":"a3a3480b.9cd808","name":"IN1","pin":"33","set":false,"level":"1","freq":"","out":"out","x":830,"y":180,"wires":[]},{"id":"382d6296.4b4f5e","type":"rpi-gpio out","z":"a3a3480b.9cd808","name":"IN2","pin":"32","set":false,"level":"0","freq":"","out":"out","x":830,"y":280,"wires":[]},{"id":"3ce1bad6.3ea0f6","type":"rpi-gpio out","z":"a3a3480b.9cd808","name":"IN3","pin":"40","set":false,"level":"1","freq":"","out":"out","x":830,"y":340,"wires":[]},{"id":"d01157f3.26b208","type":"change","z":"a3a3480b.9cd808","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":320,"wires":[["6e71323a.87efbc","3ce1bad6.3ea0f6","82d58eb5.3d3c1"]]},{"id":"d45cee23.b8292","type":"inject","z":"a3a3480b.9cd808","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":220,"wires":[["d01157f3.26b208","26fe7163.400ffe"]]},{"id":"ed0f416.2bceac","type":"rpi-gpio out","z":"a3a3480b.9cd808","name":"IN4","pin":"38","set":false,"level":"0","freq":"","out":"out","x":830,"y":400,"wires":[]},{"id":"2be6b9e3.a9b666","type":"rpi-gpio out","z":"a3a3480b.9cd808","name":"","pin":"31","set":false,"level":"0","freq":"","out":"out","x":880,"y":460,"wires":[]},{"id":"6c175092.d6089","type":"rpi-gpio out","z":"a3a3480b.9cd808","name":"","pin":"37","set":false,"level":"0","freq":"","out":"out","x":880,"y":520,"wires":[]},{"id":"db460539.945948","type":"mqtt in","z":"a3a3480b.9cd808","name":"","topic":"/back","qos":"2","datatype":"auto","broker":"9f6fb450.4b5ad8","x":290,"y":320,"wires":[["d01157f3.26b208","26fe7163.400ffe"]]},{"id":"7499b00a.e1bd5","type":"http response","z":"6d25065.f18f0f8","name":"","statusCode":"","headers":{},"x":990,"y":220,"wires":[]},{"id":"2a14d95c.83f056","type":"http response","z":"f2c36783.93ef28","name":"","statusCode":"","headers":{},"x":1010,"y":340,"wires":[]},{"id":"82d58eb5.3d3c1","type":"http response","z":"a3a3480b.9cd808","name":"","statusCode":"","headers":{},"x":1010,"y":300,"wires":[]},{"id":"6afc77f.4267d88","type":"rpi-gpio out","z":"a46817ea.e45e98","name":"","pin":"31","set":false,"level":"0","freq":"","out":"out","x":680,"y":320,"wires":[]},{"id":"48044722.140ca8","type":"rpi-gpio out","z":"a46817ea.e45e98","name":"","pin":"37","set":false,"level":"0","freq":"","out":"out","x":680,"y":360,"wires":[]},{"id":"4a495e83.a221b","type":"rpi-gpio in","z":"97b89016.57636","name":"","pin":"36","intype":"tri","debounce":"25","read":false,"x":210,"y":640,"wires":[["c3423b21.ef3158","d1df1925.8ef558","20298c45.d53994","b44b0e81.49887"]]},{"id":"239aba4e.125b66","type":"rpi-gpio in","z":"97b89016.57636","name":"","pin":"35","intype":"tri","debounce":"25","read":false,"x":220,"y":560,"wires":[["bed24715.1ccd28","51c28cab.a038b4"]]},{"id":"c3423b21.ef3158","type":"debug","z":"97b89016.57636","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":210,"y":760,"wires":[]},{"id":"d1df1925.8ef558","type":"mqtt out","z":"97b89016.57636","name":"","topic":"/sensorLeft","qos":"","retain":"","broker":"9f6fb450.4b5ad8","x":460,"y":760,"wires":[]},{"id":"bed24715.1ccd28","type":"switch","z":"97b89016.57636","name":"left","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":500,"wires":[["c338dc84.3dd1c"]]},{"id":"51c28cab.a038b4","type":"switch","z":"97b89016.57636","name":"stop","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":580,"wires":[["5772f3e7.fee97c"]]},{"id":"c338dc84.3dd1c","type":"mqtt out","z":"97b89016.57636","name":"","topic":"/left","qos":"","retain":"","broker":"9f6fb450.4b5ad8","x":610,"y":500,"wires":[]},{"id":"5772f3e7.fee97c","type":"mqtt out","z":"97b89016.57636","name":"","topic":"/stop","qos":"","retain":"","broker":"9f6fb450.4b5ad8","x":590,"y":580,"wires":[]},{"id":"20298c45.d53994","type":"switch","z":"97b89016.57636","name":"right","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":620,"wires":[["35350743.7a6a28"]]},{"id":"b44b0e81.49887","type":"switch","z":"97b89016.57636","name":"stop","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":700,"wires":[["6552d3c8.f3e29c"]]},{"id":"35350743.7a6a28","type":"mqtt out","z":"97b89016.57636","name":"","topic":"/right","qos":"","retain":"","broker":"9f6fb450.4b5ad8","x":810,"y":620,"wires":[]},{"id":"6552d3c8.f3e29c","type":"mqtt out","z":"97b89016.57636","name":"","topic":"/stop","qos":"","retain":"","broker":"9f6fb450.4b5ad8","x":790,"y":700,"wires":[]},{"id":"87ec16a7.c01cc8","type":"change","z":"4b354a01.c87094","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":280,"wires":[["498d6830.bce1c8","f9bb545a.4ce1f8","b90940d1.e8be7","1144efd1.9fb4b"]]},{"id":"7e01a943.beed08","type":"change","z":"6d25065.f18f0f8","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":360,"wires":[["f2f49b6e.fcaa08","fd9ffc80.76479","98524e54.39d7f","1895953d.d39e7b"]]},{"id":"26fe7163.400ffe","type":"change","z":"a3a3480b.9cd808","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":380,"wires":[["2be6b9e3.a9b666","6c175092.d6089","382d6296.4b4f5e","ed0f416.2bceac"]]},{"id":"14e12f2d.3a8581","type":"change","z":"f2c36783.93ef28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":520,"wires":[["aa6589ba.fa0c78","69b49f9d.af6da","b7222460.076df8","d5dd4b1.6c8e2b8"]]},{"id":"31c144a5.a6574c","type":"rpi-gpio out","z":"4b354a01.c87094","name":"IN4","pin":"38","set":false,"level":"0","freq":"","out":"out","x":630,"y":260,"wires":[]},{"id":"2b1480d8.45265","type":"rpi-gpio out","z":"a46817ea.e45e98","name":"","pin":"40","set":false,"level":"0","freq":"","out":"out","x":660,"y":200,"wires":[]},{"id":"519f5a50.41c984","type":"rpi-gpio out","z":"a46817ea.e45e98","name":"","pin":"38","set":false,"level":"0","freq":"","out":"out","x":660,"y":240,"wires":[]}]