Labs/Lab03/Flow CloudNode
[{"id":"9e7a10ce.025538","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"182a9faa.2c7f3","type":"tab","label":"Temp Flow","disabled":false,"info":""},{"id":"9d2e9394.e2021","type":"tab","label":"Hum Flow","disabled":false,"info":""},{"id":"dd1bdb33.abc78","type":"tab","label":"LED Flow","disabled":false,"info":""},{"id":"bf6b93f0.0ea0b","type":"mongodb","z":"9e7a10ce.025538","hostname":"127.0.0.1","port":"27017","db":"test","name":""},{"id":"82177294.904b38","type":"websocket-listener","z":"9e7a10ce.025538","path":"/acc","wholemsg":"false"},{"id":"14625510.7f45f3","type":"mqtt-broker","z":"","name":"PC-saber","broker":"192.168.59.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"454efe57.dcf698","type":"websocket-client","z":"","path":"/temp/topic","tls":"","wholemsg":"false"},{"id":"5cf2e7a6.177d98","type":"mqtt-broker","z":"","name":"PC-SABER","broker":"192.168.59.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3bd9b69e.6cbb02","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"test","name":""},{"id":"6a38dbc2.e9e84c","type":"websocket-client","z":"","path":"/acc/topic","tls":"","wholemsg":"false"},{"id":"8e4a5d6c.2bcd4","type":"websocket-client","z":"","path":"/hum/topic","tls":"","wholemsg":"false"},{"id":"b37f0f1e.cbddd","type":"websocket-client","z":"","path":"/ledStatus","tls":"","wholemsg":"false"},{"id":"6b0741ce.189a5","type":"function","z":"9e7a10ce.025538","name":"CROS","func":"msg.headers = {};\nmsg.headers[\"Access-Control-Allow-Origin\"]= \"*\";\nmsg.headers[\"Access-Control-Allow-Methods\"]= \"POST, GET, OPTIONS\";\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":140,"wires":[[]]},{"id":"4e3fb30c.e94034","type":"function","z":"9e7a10ce.025538","name":"DATE","func":"var date = new Date();\nmsg.payload = {temp: msg.payload, date: date.toISOString()};\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":200,"wires":[["9cc256db.7194f8","cc34dcee.ff48f8"]]},{"id":"cc34dcee.ff48f8","type":"mongodb out","z":"9e7a10ce.025538","mongodb":"bf6b93f0.0ea0b","name":"","collection":"temp","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":480,"y":180,"wires":[]},{"id":"844d815c.911238","type":"mqtt in","z":"9e7a10ce.025538","name":"","topic":"temp/topic","qos":"2","broker":"5cf2e7a6.177d98","x":100,"y":200,"wires":[["4e3fb30c.e94034"]]},{"id":"9cc256db.7194f8","type":"websocket out","z":"9e7a10ce.025538","name":"","server":"","client":"454efe57.dcf698","x":500,"y":260,"wires":[]},{"id":"24fb5975.292cbe","type":"function","z":"9e7a10ce.025538","name":"DATE","func":"var date = new Date();\nmsg.payload = {acc: msg.payload, date: date.toISOString()};\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":360,"wires":[["7446474c.b8ca3","2e6115b.c690eea"]]},{"id":"2e6115b.c690eea","type":"mongodb out","z":"9e7a10ce.025538","mongodb":"bf6b93f0.0ea0b","name":"","collection":"acc","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":510,"y":360,"wires":[]},{"id":"2261befa.39a31a","type":"mqtt in","z":"9e7a10ce.025538","name":"","topic":"acc/topic","qos":"2","broker":"5cf2e7a6.177d98","x":100,"y":360,"wires":[["24fb5975.292cbe"]]},{"id":"7446474c.b8ca3","type":"websocket out","z":"9e7a10ce.025538","name":"","server":"","client":"6a38dbc2.e9e84c","x":500,"y":420,"wires":[]},{"id":"54475e85.14139","type":"function","z":"9e7a10ce.025538","name":"DATE","func":"var date = new Date();\nmsg.payload = {hum: msg.payload, date: date.toISOString()};\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":540,"wires":[["3496789e.9d6828","cf133873.baa83"]]},{"id":"cf133873.baa83","type":"mongodb out","z":"9e7a10ce.025538","mongodb":"bf6b93f0.0ea0b","name":"","collection":"hum","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":510,"y":540,"wires":[]},{"id":"bb5663b1.3137","type":"mqtt in","z":"9e7a10ce.025538","name":"","topic":"hum/topic","qos":"2","broker":"5cf2e7a6.177d98","x":100,"y":540,"wires":[["54475e85.14139"]]},{"id":"3496789e.9d6828","type":"websocket out","z":"9e7a10ce.025538","name":"","server":"","client":"8e4a5d6c.2bcd4","x":500,"y":600,"wires":[]},{"id":"6f6dc0d0.629b08","type":"http in","z":"182a9faa.2c7f3","name":"","url":"/temp/topic","method":"get","upload":false,"swaggerDoc":"","x":100,"y":120,"wires":[["64370729.b6d168","bedfb548.68d8b"]]},{"id":"8a0c3b32.85add8","type":"http response","z":"182a9faa.2c7f3","name":"","statusCode":"","headers":{},"x":929,"y":120,"wires":[]},{"id":"64370729.b6d168","type":"function","z":"182a9faa.2c7f3","name":"build query","func":"msg.payload=db.temp.find();\nreturn msg;","outputs":1,"noerr":0,"x":372,"y":120,"wires":[["52649068.22fe3","d3ad3aa5.395878"]]},{"id":"52649068.22fe3","type":"mongodb in","z":"182a9faa.2c7f3","mongodb":"3bd9b69e.6cbb02","name":"Find temp","collection":"temp","operation":"find","x":551,"y":120,"wires":[["1b073893.e31b1f"]]},{"id":"1b073893.e31b1f","type":"function","z":"182a9faa.2c7f3","name":"CROS","func":"msg.headers = {};\nmsg.headers[\"Access-Control-Allow-Origin\"]= \"*\";\nmsg.headers[\"Access-Control-Allow-Methods\"]= \"POST, GET, OPTIONS\";\nreturn msg;","outputs":1,"noerr":0,"x":769,"y":120,"wires":[["8a0c3b32.85add8","5ea500d.211498"]]},{"id":"bedfb548.68d8b","type":"debug","z":"182a9faa.2c7f3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":360,"y":240,"wires":[]},{"id":"d3ad3aa5.395878","type":"debug","z":"182a9faa.2c7f3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":580,"y":260,"wires":[]},{"id":"5ea500d.211498","type":"debug","z":"182a9faa.2c7f3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":960,"y":240,"wires":[]},{"id":"ffa8a215.aecdc","type":"http in","z":"9d2e9394.e2021","name":"","url":"/hum/topic","method":"get","upload":false,"swaggerDoc":"","x":180,"y":140,"wires":[["33e9ddf9.02f9ea"]]},{"id":"40bf6066.9f4598","type":"http response","z":"9d2e9394.e2021","name":"","statusCode":"","headers":{},"x":1009,"y":140,"wires":[]},{"id":"33e9ddf9.02f9ea","type":"function","z":"9d2e9394.e2021","name":"build query","func":"\nreturn db.hum.find();","outputs":1,"noerr":0,"x":452,"y":140,"wires":[["58af35c3.b5265c"]]},{"id":"58af35c3.b5265c","type":"mongodb in","z":"9d2e9394.e2021","mongodb":"3bd9b69e.6cbb02","name":"Find temp","collection":"hum","operation":"find","x":631,"y":140,"wires":[["2693fbf6.9361a4"]]},{"id":"2693fbf6.9361a4","type":"function","z":"9d2e9394.e2021","name":"CROS","func":"msg.headers = {};\nmsg.headers[\"Access-Control-Allow-Origin\"]= \"*\";\nmsg.headers[\"Access-Control-Allow-Methods\"]= \"POST, GET, OPTIONS\";\nreturn msg;","outputs":1,"noerr":0,"x":849,"y":140,"wires":[["40bf6066.9f4598"]]},{"id":"a344cfd6.daab4","type":"function","z":"9e7a10ce.025538","name":"DATE","func":"var date = new Date();\nmsg.payload = {ledStatus: msg.payload, date: date.toISOString()};\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":680,"wires":[["480e7c4.99d8004","a0e4368d.185578","7cd33a4d.28903c"]]},{"id":"a0e4368d.185578","type":"mongodb out","z":"9e7a10ce.025538","mongodb":"bf6b93f0.0ea0b","name":"","collection":"ledStatus","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":510,"y":680,"wires":[]},{"id":"e82e441.c1cb938","type":"mqtt in","z":"9e7a10ce.025538","name":"","topic":"ledStatus","qos":"2","broker":"5cf2e7a6.177d98","x":100,"y":680,"wires":[["a344cfd6.daab4"]]},{"id":"480e7c4.99d8004","type":"websocket out","z":"9e7a10ce.025538","name":"","server":"","client":"b37f0f1e.cbddd","x":520,"y":740,"wires":[]},{"id":"7cd33a4d.28903c","type":"debug","z":"9e7a10ce.025538","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":800,"wires":[]},{"id":"5f695425.29994c","type":"mqtt out","z":"dd1bdb33.abc78","name":"","topic":"/ledStatus","qos":"","retain":"","broker":"5cf2e7a6.177d98","x":700,"y":200,"wires":[]},{"id":"2b247dc4.6cd612","type":"trigger","z":"dd1bdb33.abc78","op1":"1","op2":"0","op1type":"num","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"ON LED","x":480,"y":160,"wires":[["5f695425.29994c"]]},{"id":"543fdba3.46d5ac","type":"trigger","z":"dd1bdb33.abc78","op1":"0","op2":"0","op1type":"num","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"OFF LED","x":480,"y":240,"wires":[["5f695425.29994c"]]},{"id":"40e2e382.b80d94","type":"websocket in","z":"dd1bdb33.abc78","name":"","server":"","client":"b37f0f1e.cbddd","x":260,"y":180,"wires":[["2b247dc4.6cd612","543fdba3.46d5ac"]]},{"id":"dc4e7440.30d188","type":"mqtt in","z":"dd1bdb33.abc78","name":"","topic":"/ledStatus","qos":"2","broker":"5cf2e7a6.177d98","x":245,"y":305,"wires":[["1f50e01f.33da1"]]},{"id":"1f50e01f.33da1","type":"websocket out","z":"dd1bdb33.abc78","name":"","server":"","client":"b37f0f1e.cbddd","x":705,"y":305,"wires":[]}]