Projet/Flows Node-Red/Flow_Envoie_Donnees_Gateway_Vers_Serveur.json
[{"id":"97b89016.57636","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4eba30f9.c18d8","type":"inject","z":"97b89016.57636","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":80,"wires":[["ec928400.60ee38"]]},{"id":"39c3ea85.834846","type":"mqtt out","z":"97b89016.57636","name":"","topic":"/test","qos":"","retain":"","broker":"df3fda7d.9b4718","x":910,"y":120,"wires":[]},{"id":"ec928400.60ee38","type":"exec","z":"97b89016.57636","command":"sudo python  /home/pi/AlphaBot2/python/TRSensors.py","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":460,"y":80,"wires":[["39c3ea85.834846"],[],[]]},{"id":"2114ad2c.574d42","type":"exec","z":"97b89016.57636","command":"sudo python  /home/pi/AlphaBot2/AlphaBot2.py","addpay":true,"append":"","useSpawn":"true","timer":"2","oldrc":false,"name":"","x":600,"y":360,"wires":[["d4ce5799.797c98"],[],[]]},{"id":"397dd3f1.36312c","type":"inject","z":"97b89016.57636","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":340,"wires":[["2114ad2c.574d42"]]},{"id":"d4ce5799.797c98","type":"mqtt out","z":"97b89016.57636","name":"","topic":"/test","qos":"","retain":"","broker":"df3fda7d.9b4718","x":990,"y":320,"wires":[]},{"id":"922fcc90.db6b6","type":"exec","z":"97b89016.57636","command":"sudo python  /home/pi/AlphaBot2/python/Ultrasonic_Obstacle_Avoidance.py","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":670,"y":560,"wires":[["de5f292f.754b88"],[],[]]},{"id":"dbd9142a.2e7658","type":"inject","z":"97b89016.57636","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":540,"wires":[["922fcc90.db6b6"]]},{"id":"de5f292f.754b88","type":"mqtt out","z":"97b89016.57636","name":"","topic":"/test","qos":"","retain":"","broker":"df3fda7d.9b4718","x":1110,"y":480,"wires":[]},{"id":"df3fda7d.9b4718","type":"mqtt-broker","z":"","name":"VM Saber","broker":"10.69.1.161","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]